<h1>Listing links</h1>

    <% @links.each do |link| %>
        <%= link_to link.title, link.url %>
	<br>
        <%= link_to 'Edit', edit_user_link_path( current_user, link) %>
        <%= link_to 'Destroy', user_link_path( current_user, link ), method: :delete %>
	<br>
	<hr>
    <% end %>

<br>

<%= link_to 'New Link', new_user_link_path %>
